__pycache__/
web/source_images/*
web/images/*
web/*.log
web/cert/
!web/cert/*.sh
demohub/docs/
demohub/utils/
demohub/demohub/object_detection/mmdetection/checkpoints/*
demohub/demohub/segmentation/mmsegmentation/checkpoints/*
demohub/demohub/diffusion/stable-diffusion/assets/*
*.ckpt
*.pth
segment_anything_source/*
!.gitkeep
